<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="create_data.dao.DailyWorkMapper">

    <insert id="insert" parameterType="DailyWork">
        inset into cinema.t_daily_work
        (id,type,content,createAt)
        values
        (#{id},#{type},#{content},#{createAt})
    </insert>
</mapper>