<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="create_data.dao.UploadMapper">

    <insert id="insert" parameterType="Upload">
        inset into cinema.t_upload
        (id,md5)
        values
        (#{id},#{md5})
    </insert>
</mapper>