<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.read_api.mapper.ReadCartMapper">

    <select id="selectListByMap" parameterType="Map" resultType="Cart">
        select *
        from cinema.t_cart
        <where>
            <if test="uid!=null">
                uid = #{uid}
            </if>

            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </select>
</mapper>