<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.read_api.mapper.ReadPosterMapper">

    <insert id="insert" parameterType="Poster">
        inset into cinema.t_poster
        (id,title,url,status,createAt)
        values
        (#{id},#{title},#{url},#{status},#{createAt})
    </insert>
</mapper>