<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.read_api.mapper.ReadUserMapper">

    <select id="selectById" parameterType="Long" resultType="User">
        select *
        from cinema.t_user
        where id = #{id}
    </select>

    <select id="selectList" resultType="User">
        select *
        from cinema.t_user
    </select>

    <select id="selectByUserName" parameterType="String" resultType="User">
        select *
        from cinema.t_user
        where username = #{username}
    </select>
 </mapper>