<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.read_api.mapper.ReadFilmEvaluateMapper">

    <insert id="insert" parameterType="FilmEvaluate">
        inset into cinema.t_film_evaluate
        (id,fid,uid,star,comment,createAt)
        values
        (#{id},#{fid},#{uid},#{star},#{comment},#{createAt})
    </insert>
</mapper>