<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.write_api.mapper.WriteActivityMapper">
    <insert id="insert" parameterType="Activity">
        insert into cinema.t_activity
        (id,content,number,startTime,endTime,createAt)
        values
        (#{id},#{content},#{number},#{startTime},#{endTime},#{createAt})
    </insert>



    <select id="selectById" parameterType="Integer" resultType="Activity">
        select *
        from cinema.t_activity
        where id = #{id}
    </select>

    <select id="selectList" resultType="Activity">
        select *
        from cinema.t_activity
    </select>

</mapper>