<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.write_api.mapper.WriteArrangementMapper">

    <insert id="insert" parameterType="Arrangement">
        insert into cinema.t_arrangement
        (id,fid,name,seatNumber,price,type,date,startTime,boxOffice,endTime,founder,creaTeAt)
        values
        (#{id},#{fid},#{name},#{seatNumber},#{price},#{type},#{date},#{startTime},#{boxOffice},#{endTime},#{founder},#{createAt})
    </insert>

    <delete id="deleteByMap" parameterType="Map">
        delete from cinema.t_arrangement
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </delete>

    <update id="update" parameterType="Arrangement">
        update cinema.t_arrangement
        set
        fid=#{fid},
        name=#{name},
        seatNumber=#{seatNumber},
        price=#{price},
        type=#{type},
        date=#{date},
        startTime=#{startTime},
        boxOffice=#{boxOffice},
        endTime=#{endTime},
        founder=#{founder},createAt=#{createAt}
        where id=#{id}

    </update>

    <select id="selectByMap" parameterType="Map" resultType="Arrangement">
        select *
        from cinema.t_arrangement
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
        </where>
    </select>

</mapper>