<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.write_api.mapper.WriteCartMapper">

    <insert id="insert" parameterType="Cart">
        insert into cinema.t_cart
        (id,uid,aid,seats,phone,status,price)
        values
        (#{id},#{uid},#{aid},#{seats},#{phone},#{status},#{price})
    </insert>

    <delete id="deleteByMap" parameterType="Map">
        delete from cinema.t_cart
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
            <if test="uid!=null">
                and uid = #{uid}
            </if>
        </where>
    </delete>
</mapper>