<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinema.write_api.mapper.WriteOrderExceptionMapper">

    <insert id="insert" parameterType="OrderException">
        insert into cinema.t_order_exception
        (id,oid,reason,reviewer,status,result,createAt,endAt)
        values
        (#{id},#{oid},#{reason},#{reviewer},#{status},#{result},#{createAt},#{endAt})
    </insert>

    <update id="update" parameterType="OrderException">
        update cinema.t_order_exception
        set
        oid = #{oid},
        reason = #{reason},
        reviewer = #{reviewer},
        status = #{status},
        result = #{result},
        createAt = #{createAt},
        endAt = #{endAt}

        where id = #{id}
    </update>
</mapper>